 <app-dashboard-header></app-dashboard-header> 

<ion-content class="ion-no-padding ">
  <div class="ion-no-padding  justify-start mx-4 mt-4 ">
    <!-- Welcome Div -->
    <div class="mt-2">
      <p class="text-gray-500 font-light text-sm">Welcome</p>
      <h1 class="text-gray-800 font-bold text-2xl">{{userName}}!</h1>
    </div>

    <div class="flex items-center justify-center  mt-8  " >
      <button class="bg-white text-orange-500 border border-solid border-orange-500  rounded-md w-60 h-10 scan-btn " (click)="scanBarcode()" >Order</button>
    </div>
    <!-- Scanner Div -->
    <!-- <div class=" p-4 bg-white rounded-3xl shadow-md flex flex-col gap-4 box-shade mt-4">
      <div class="flex justify-around items-center">
        <div class="relative  border border-blue-800 shadow-md  rounded-lg w-60 h-16 mr-4"
          style="width: 40% !important;" >
          <img src="assets/Ticket.svg" alt="" class="w-7 h-7 ml-2 mt-1 logo ">
          <p class="blue-800 ml-2 mt-1 font-bold">Tickets</p>
          <ion-badge
            class="bg-gradient-to-r from-blue-800 to-blue-500 text-white absolute -mt-2 -mr-2 w-10 h-10 rounded-full flex justify-center items-center z-10 top-0.5 right-0.5"
            style="left: 92px; top: -5px;">
            25
          </ion-badge>
        </div>
        <div class="relative border border-blue-800 shadow-md  rounded-lg w-60 h-16" style="width: 40% !important;" >
          <img src="assets/order-svg.svg" alt="" class="w-6 h-6 mt-1 ml-2 ">
          <p class="blue-800 ml-2 mt-2 font-bold">Orders</p>
          <ion-badge
            class="bg-gradient-to-r from-blue-800 to-blue-500 text-white absolute top-0.5 right-0.5 -mt-2 -mr-2 w-10 h-10 rounded-full flex justify-center items-center z-10"
            style="left: 92px; top: -5px;">
            99
          </ion-badge>
        </div>
      </div> 
      <div class="flex justify-around items-center">
        <div class="relative  border border-blue-800 shadow-md  rounded-lg w-60 h-16 mr-4"
          style="width: 40% !important;">
          <img src="assets/Return-svg.svg" color="blue" alt="" class="w-6 h-6 mt-2 ml-2 ">
          <p class="blue-800 ml-2 mt-1  font-bold  ">Returns</p>
          <ion-badge
            class="bg-gradient-to-r from-blue-800 to-blue-500 text-white absolute -mt-2 -mr-2 w-10 h-10 rounded-full flex justify-center items-center z-10 top-0.5 right-0.5"
            style="left: 92px; top: -5px;">
            155
          </ion-badge>
        </div>
        <div class="relative border border-blue-800 shadow-md  rounded-lg w-60 h-16" style="width: 40% !important;">
          <img src="assets/Cheque.svg" alt="" class="w-7 h-7 mt-1 ml-2 ">
          <p class="blue-800 ml-2 mt-1 font-bold">Cheques</p>
          <ion-badge
            class="bg-gradient-to-r from-blue-800 to-blue-500 text-white absolute top-0.5 right-0.5 -mt-2 -mr-2 w-10 h-10 rounded-full flex justify-center items-center z-10"
            style="left: 92px; top: -5px;">
            102
          </ion-badge>
        </div>
      </div>
    </div> -->
    <!-- <p class="text-gray-500 font-light text-sm ml-4 pt-4 pb-4" style="font-size: 1rem;">Yearly Analytics</p> -->

    <!-- Graph Div -->
    <!-- <div class="w-full lg:max-w-2xl xl:max-w-4xl mx-auto bg-white rounded-3xl shadow-md relative box-shade ">
      <div class="flex justify-between items-center p-4">
        <div>
          <p class="text-gray-600">Daily Report</p>
          
        </div>
        <div class="w-1/2 flex justify-around items-center border-2 border-solid border-purple-600 rounded-md ">
          <label for="year" class="text-gray-500">Select</label>
          <div class="inline-block relative ">
            <select
              class=" border-0rounded-md pl-1 pr-6 py-1 appearance-none bg-white text-gray-700 text-sm focus:outline-none focus:border-gray-500 border-0"
              name="year">
              <option>This Year</option>
              <option>2022</option>
              <option>2021</option>
            </select>
          </div>
        </div>
      </div>
      <highcharts-chart [Highcharts]="Highcharts" [options]="Pollutant" class="w-full h-full block"></highcharts-chart>
    </div> -->

    <!-- Activities Div -->
    <!-- <div class="mt-4 bg-white rounded-3xl shadow-md mb-8 box-shade cardcorner">
      <div class="p-4 border-b-2 border-gray-300 border-b-gray-500">
        <p>Recent Activities</p>
      </div>
      <div>
        <div class="flex p-4">
          <img src="assets/icon/icons8-discord-48.png" alt="" class="mr-2">
          <div class="ml-2">
            <h4 class="text-lg font-semibold font-system-ui">Ticket</h4>
            <p class="text-gray-500">Recently Added Ticket</p>
          </div>
          <div class="ml-auto flex items-center">
            <img src="" alt="" class="mr-2">
            <p>08.00am</p>
          </div>
        </div>
        <div class="flex p-4">
          <img src="assets/icon/icons8-discord-48.png" alt="" class="mr-2">
          <div class="ml-2">
            <h4 class="text-lg font-semibold font-system-ui">Orders</h4>
            <p class="text-gray-500">Recently Added Ticket</p>
          </div>
          <div class="ml-auto flex items-center">
            <img src="" alt="" class="mr-2">
            <p>08.00am</p>
          </div>
        </div>

      </div>
    </div> -->
  </div>
</ion-content>