.tet{
    font-weight: 800 !important;
    font-size: 1.5rem !important;
}

.create_text{
    font: small;
    font-size: 1rem;
    color: #837777;
    font-weight: 700;
}

code-input {
    --item-spacing: 10px;
    --item-height: 3em;
    --item-border: 1px solid #bdbcb7;
    --item-border-bottom: 2px solid #bbbbb5;
    --item-border-has-value: 1px solid orange;
    --item-border-bottom-has-value: 2px solid orange;
    --item-border-focused: 1px solid #f5b753;
    --item-border-bottom-focused: 2px solid #f5b753; 
    --item-shadow-focused: none;
    --item-border-radius: 5px;
}